<div>
    <mat-toolbar>
        <mat-toolbar-row>
            <span id="button-row">
                <button mat-button id="Home">Contact</button>
                <button mat-button id="Agents">About ValorGuides</button>
                <button mat-button id="Maps">Support</button>
            </span>
        </mat-toolbar-row>
    </mat-toolbar>
    <div class="footer">
        <p>
            2020 ValorGuides. ValorGuides is not endorsed by Riot Games and does not reflect the views or opinions of Riot Games or anyone officially involved in producing or managing Valorant. Valorant and Riot Games are trademarks or registered trademarks of Riot Games, Inc. Valorant © Riot Games, Inc.
        </p>
    </div>
</div>

