mat-toolbar-row {
    position: relative;
    height: 30px;
}

mat-toolbar{
    position: relative;
    bottom: 0;
    background-color: transparent;
    align-items: flex-start;
}

button {
    position: relative;
    margin: 12px;
    font-family: Acme;
    color: black;
    z-index: 1;
}

#button-row {
    left: 50%;
}

.footer {
    width: 400px;
    background-color: transparent;
    color: transparent;
}

p {
    position: relative;
    color: black;
    font-size: 10px;
    margin-left: 2%;
}