<div class="homeFormat">
    <main>
        <link href="https://fonts.googleapis.com/css?family=Squada%20One" rel="stylesheet" type="text/css">
        <form action="/submit-player-name"> 
            <img id="home-page-image" src="assets/images/valorant-home-page.jpg">
            <mat-card>
              <input id="name" class="fill" type="text" placeholder="Name">
              <button id="submit" mat-raised-button (click)="submitPlayer()">Search</button>
         </mat-card>
        </form>
    </main>
</div>



