.agentPageFormat {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #263b91;
    overflow: hidden;
}

.agentBar {
    position: relative;
    width: 1075px;
    height: 110px;
    left: 50%;
    margin-left: -537px;
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
}

.agentCard {
    display: inline;
    border-style: none;
    background-color: white;
    float: left;
    text-align: center;
    box-shadow: none;
    margin-left: 2px;
    margin-right: 2
}

.agentPictureButton {
    border-radius: 10px;
}

.agentPictureButton:focus {
    outline-color: yellow;
    opacity: .8;
}


.agentPictureButton:hover {
    opacity: .8;
}


.agentName {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 18px; 
    font-family: 'Squada One';
    color: black;
}


.agentInfo {
    position: relative;
    width: 1075px;
    height: 434px;
    left: 50%;
    margin-left: -537px;
    margin-top: 10px;
}

.agentBackground {
    position: relative;
    width: 400px;
    height: 450px;
    /* background-color: #383838; */
    padding: 0px;
    text-align: right;
    float: right;
    
}

.agentPicture {
    position: absolute;
    width: 590px;
    height: 450px;
    margin-left: -500px;
}

.agentAbilities {
    position: relative;
    width: 1000px;
}

.abilityWrapper {
    display: inline;
    border-style: none;
    background-color: white;
    float: left;
    box-shadow: none;
    margin-left: 8px;
    margin-right: 8px;
    width: 120px;
}

.abilityBackground {
    float: left;
    width: 50px;
    height: 50px;
    background-color: grey;
    border-radius: 10px;
}

.abilityBackground:hover {
    opacity: 0.8;
}


.ability {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.ability:focus {
    outline-color: yellow;
    opacity: .8;
}

.abilityName {
    position: absolute;
    margin-left: 60px;
    margin-right: 1px;
    margin-top: 12px;
    font-size: 15px; 
    font-family: 'Squada One';
    color: black;
    /* text-align: center; */
    /* float: left; */
}

.abilityDescription {
    position: relative;
    margin-top: 100px;
    margin-left: 370px;
    width: 250px;
    height: 300px;
    border-style: none;
    background-color: transparent;
    box-shadow: none;
}

.abilityVideo {
    position: absolute;
    margin-top: -300px;
    width: 400px;
    height: 200px;
}


